.nav-target_a::after {
  content: url(https://guitarkid35.github.io/2018-GK-resume/);
}

/*---slide1 bg---*/
.slide-inner--item {
  width: 100%;
  height: 100%;
}

.slide-inner--item_particle #particles {
  position: absolute;
  z-index: 996;
}

.slide-inner--item_mask {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-animation-name: robot-mask;
  animation-name: robot-mask;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: 997;
}

.slide-inner--item_screen {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../../assets/images/home-slider/robot-screen.png");
  background-size: cover;
  background-position: center;
  z-index: 1002;
  opacity: 0;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

.slide-inner--item_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../../assets/images/home-slider/robot-bg.png");
  -webkit-animation-name: robot-bg;
  animation-name: robot-bg;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-size: cover;
  background-position: center;
  z-index: 1001;
  opacity: 0;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

.slide-inner--item_lens {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-animation-name: robot-lens;
  animation-name: robot-lens;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  background-image: url("../../assets/images/home-slider/robot-lens.png");
  background-size: cover;
  background-position: center;
  opacity: 0;
  z-index: 1000;
}

.slide-inner--item_body {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../../assets/images/home-slider/robot-body.jpg");
  background-size: cover;
  background-position: center;
}

.slide-inner--item_eye {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-animation-name: robot-eye;
  animation-name: robot-eye;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  background-image: url("../../assets/images/home-slider/robot-body-eye.png");
  background-size: cover;
  background-position: center;
  z-index: 998;
}

.slide-inner--item_light {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-animation-name: robot-light;
  animation-name: robot-light;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-image: url("../../assets/images/home-slider/robot-body-light.png");
  background-size: cover;
  background-position: center;
}

.slide-inner--item_logo {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-animation-name: robot-logo;
  animation-name: robot-logo;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-delay: 1.7s;
  animation-delay: 1.7s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  background-image: url("../../assets/images/home-slider/robot-body-logo.png");
  background-size: cover;
  background-position: center;
  z-index: 999;
}

@-webkit-keyframes robot-mask {
  0% {
    background-color: rgba(0, 0, 0, 0.7);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.3);
  }
  100% {
    background-color: transparent;
  }
}

@keyframes robot-mask {
  0% {
    background-color: rgba(0, 0, 0, 0.7);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.3);
  }
  100% {
    background-color: transparent;
  }
}

@-webkit-keyframes robot-bg {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
  100% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
}

@keyframes robot-bg {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
  100% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
}

@-webkit-keyframes robot-lens {
  0% {
    -webkit-filter: brightness(250%);
    filter: brightness(250%);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  50% {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
    -webkit-transform: scaleX(3);
    transform: scaleX(3);
  }
  100% {
    -webkit-filter: brightness(0%);
    filter: brightness(0%);
    opacity: 0;
  }
}

@keyframes robot-lens {
  0% {
    -webkit-filter: brightness(250%);
    filter: brightness(250%);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  50% {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
    -webkit-transform: scaleX(3);
    transform: scaleX(3);
  }
  100% {
    -webkit-filter: brightness(0%);
    filter: brightness(0%);
    opacity: 0;
  }
}

@-webkit-keyframes robot-light {
  0% {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
  }
  50% {
    -webkit-filter: brightness(250%);
    filter: brightness(250%);
  }
  100% {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
  }
}

@keyframes robot-light {
  0% {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
  }
  50% {
    -webkit-filter: brightness(250%);
    filter: brightness(250%);
  }
  100% {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
  }
}

@-webkit-keyframes robot-eye {
  0% {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
  }
  50% {
    -webkit-filter: brightness(500%);
    filter: brightness(500%);
  }
  100% {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
  }
}

@keyframes robot-eye {
  0% {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
  }
  50% {
    -webkit-filter: brightness(500%);
    filter: brightness(500%);
  }
  100% {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
  }
}

@-webkit-keyframes robot-logo {
  0% {
    -webkit-filter: grayscale(100%) brightness(70%);
    filter: grayscale(100%) brightness(70%);
  }
  50% {
    -webkit-filter: grayscale(50%) brightness(300%);
    filter: grayscale(50%) brightness(300%);
  }
  100% {
    -webkit-filter: grayscale(0%) brightness(100%);
    filter: grayscale(0%) brightness(100%);
  }
}

@keyframes robot-logo {
  0% {
    -webkit-filter: grayscale(100%) brightness(70%);
    filter: grayscale(100%) brightness(70%);
  }
  50% {
    -webkit-filter: grayscale(50%) brightness(300%);
    filter: grayscale(50%) brightness(300%);
  }
  100% {
    -webkit-filter: grayscale(0%) brightness(100%);
    filter: grayscale(0%) brightness(100%);
  }
}

/*---slide2 bg---*/
.slide-inner--image {
  background-image: url("../../assets/images/home-slider/HUD-bg.jpg");
}

.slide-inner--image .slide-inner--HUD-screen {
  position: absolute;
  background-image: url("../../assets/images/home-slider/HUD-screen.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-animation-name: robot-bg;
  animation-name: robot-bg;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.slide-inner--HUD {
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-filter: brightness(500%);
  filter: brightness(500%);
}

.slide-inner--HUD .slide-inner--HUD-box {
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-310px, -100px);
  -ms-transform: translate(-310px, -100px);
  transform: translate(-310px, -100px);
}

.slide-inner--HUD .slide-inner--HUD-box_hud_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
}

.slide-inner--HUD .slide-inner--HUD-box_logo {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../../assets/images/home-slider/HUD-A.png");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transform: rotateX(10deg) rotateY(40deg) rotateZ(0deg) scale(0.4);
  transform: rotateX(10deg) rotateY(40deg) rotateZ(0deg) scale(0.4);
  -webkit-filter: drop-shadow(0 0 0.75rem #2272D2) brightness(200%);
  filter: drop-shadow(0 0 0.75rem #2272D2) brightness(200%);
  z-index: 998;
}

.slide-inner--HUD .slide-inner--HUD-box_c1 {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../../assets/images/home-slider/HUD-B.png");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-animation-name: HUD-rotate-a;
  animation-name: HUD-rotate-a;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  opacity: 0;
  z-index: 1000;
  -webkit-filter: drop-shadow(0 0 0.75rem #2272D2) brightness(150%);
  filter: drop-shadow(0 0 0.75rem #2272D2) brightness(150%);
}

.slide-inner--HUD .slide-inner--HUD-box_c2 {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../../assets/images/home-slider/HUD-C.png");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-animation-name: HUD-rotate-b;
  animation-name: HUD-rotate-b;
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  opacity: 0;
  -webkit-filter: drop-shadow(0 0 0.75rem #2272D2) brightness(150%);
  filter: drop-shadow(0 0 0.75rem #2272D2) brightness(150%);
  z-index: 999;
}

.slide-inner--HUD .slide-inner--HUD-box_bar {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: rotateX(-28deg) rotateY(-25deg) rotateZ(-2.3deg) translate(380px, -80px) scale(0.25);
  transform: rotateX(-28deg) rotateY(-25deg) rotateZ(-2.3deg) translate(380px, -80px) scale(0.25);
  -webkit-filter: drop-shadow(0 0 0.75rem #2272D2) brightness(150%);
  filter: drop-shadow(0 0 0.75rem #2272D2) brightness(150%);
}

.slide-inner--HUD .slide-inner--HUD-box_bar #up #Fill-10 {
  opacity: 0;
  -webkit-animation-name: fill-a;
  animation-name: fill-a;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.slide-inner--HUD .slide-inner--HUD-box_bar #up #Fill-9 {
  opacity: 0;
  -webkit-animation-name: fill-b;
  animation-name: fill-b;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.slide-inner--HUD .slide-inner--HUD-box_bar #up #Fill-8 {
  opacity: 0;
  -webkit-animation-name: fill-c;
  animation-name: fill-c;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.slide-inner--HUD .slide-inner--HUD-box_bar #up #Fill-7 {
  opacity: 0;
  -webkit-animation-name: fill-d;
  animation-name: fill-d;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fill-a {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
}

@keyframes fill-a {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
}

@-webkit-keyframes fill-b {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fill-b {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes fill-c {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}

@keyframes fill-c {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}

@-webkit-keyframes fill-d {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fill-d {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.swiper-slide-active .slide-inner--HUD {
  opacity: 1;
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
  -webkit-transition: all 1s ease 1s;
  -o-transition: all 1s ease 1s;
  transition: all 1s ease 1s;
}

.swiper-slide-active .slide-inner--HUD-box_c1 {
  opacity: 1;
  -webkit-transition: all .5s ease 1.5s;
  -o-transition: all .5s ease 1.5s;
  transition: all .5s ease 1.5s;
}

.swiper-slide-active .slide-inner--HUD-box_c2 {
  opacity: 1;
  -webkit-transition: all .5s ease 2s;
  -o-transition: all .5s ease 2s;
  transition: all .5s ease 2s;
}

@-webkit-keyframes HUD-rotate-a {
  0% {
    -webkit-transform: rotateX(10deg) rotateY(40deg) rotateZ(0deg) scale(0.4);
    transform: rotateX(10deg) rotateY(40deg) rotateZ(0deg) scale(0.4);
  }
  70% {
    -webkit-transform: rotateX(10deg) rotateY(40deg) rotateZ(360deg) scale(0.4);
    transform: rotateX(10deg) rotateY(40deg) rotateZ(360deg) scale(0.4);
  }
  100% {
    -webkit-transform: rotateX(10deg) rotateY(40deg) rotateZ(0deg) scale(0.4);
    transform: rotateX(10deg) rotateY(40deg) rotateZ(0deg) scale(0.4);
  }
}

@keyframes HUD-rotate-a {
  0% {
    -webkit-transform: rotateX(10deg) rotateY(40deg) rotateZ(0deg) scale(0.4);
    transform: rotateX(10deg) rotateY(40deg) rotateZ(0deg) scale(0.4);
  }
  70% {
    -webkit-transform: rotateX(10deg) rotateY(40deg) rotateZ(360deg) scale(0.4);
    transform: rotateX(10deg) rotateY(40deg) rotateZ(360deg) scale(0.4);
  }
  100% {
    -webkit-transform: rotateX(10deg) rotateY(40deg) rotateZ(0deg) scale(0.4);
    transform: rotateX(10deg) rotateY(40deg) rotateZ(0deg) scale(0.4);
  }
}

@-webkit-keyframes HUD-rotate-b {
  0% {
    -webkit-transform: rotateX(10deg) rotateY(40deg) rotateZ(0deg) scale(0.4);
    transform: rotateX(10deg) rotateY(40deg) rotateZ(0deg) scale(0.4);
  }
  100% {
    -webkit-transform: rotateX(10deg) rotateY(40deg) rotateZ(-360deg) scale(0.4);
    transform: rotateX(10deg) rotateY(40deg) rotateZ(-360deg) scale(0.4);
  }
}

@keyframes HUD-rotate-b {
  0% {
    -webkit-transform: rotateX(10deg) rotateY(40deg) rotateZ(0deg) scale(0.4);
    transform: rotateX(10deg) rotateY(40deg) rotateZ(0deg) scale(0.4);
  }
  100% {
    -webkit-transform: rotateX(10deg) rotateY(40deg) rotateZ(-360deg) scale(0.4);
    transform: rotateX(10deg) rotateY(40deg) rotateZ(-360deg) scale(0.4);
  }
}
