@mixin absolute_center {
  top:50%;
  left:50%;
  transform: translate(-50%,-50%) !important;
}
@mixin pic_center {
  position: absolute;
  bottom: 0px;
  left: 0px
}
@mixin full_screen {
  width: 100%;
  height: 100%;
  position: absolute;
}
@mixin bg_center {
  background-size: cover;
  background-position: center;
}
/*---logo fadeIn---*/
.ms-logo {
  animation-name: logofadeIn;
  animation-duration: 2s;
  animation-delay:3s !important;
  animation-fill-mode: both;
  opacity: 0;
}
@keyframes logofadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


/*---slide1 bg---*/
.slide-inner--item {
  width: 100%;
  height: 100%;
  &_particle {
    #particle_screen {
      position: absolute;
      z-index: 1;
      mix-blend-mode: lighten;
    }
  }
  &_particle_screen {
    @include full_screen;
    background-image: url('../../assets/images/home-slider/robot-particle.jpg');
    @include bg_center;
    z-index: 1000;
    mix-blend-mode: screen;
    animation-name: robot-particle;
    animation-duration: 3s;
    animation-fill-mode: both;
  }
  &_mask {
    @include full_screen;
    animation-name: robot-mask;
    animation-duration: 2s;
    animation-delay:1.5s;
    animation-fill-mode: both;
    z-index: 997;
  }
  &_screen {
    @include full_screen;
    background-image: url('../../assets/images/home-slider/robot-screen.png');
    @include bg_center;
    z-index:1002;
    opacity: 0;
    transform: scale(1.5);
  }
  &_bg {
    @include full_screen;
    background-image: url('../../assets/images/home-slider/robot-bg.png');
    animation-name: robot-bg;
    animation-duration: 5s;
    animation-delay:1.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    @include bg_center;
    z-index:1001;
    opacity: 0;
    transform: scale(1.5);
  }
  &_lens {
    @include full_screen;
    animation-name: robot-lens;
    animation-duration: 0.4s;
    animation-delay:1.2s;
    animation-fill-mode: both;
    background-image: url('../../assets/images/home-slider/robot-lens.png');
    @include bg_center;
    opacity: 0;
    z-index:1000;
  }
  &_body {
    @include full_screen;
    background-image: url('../../assets/images/home-slider/robot-body.jpg');
    @include bg_center;
  }
  &_eye {
    opacity: 0;
    @include full_screen;
    animation-name: robot-eye;
    animation-duration: 2s;
    animation-delay:0.8s;
    animation-fill-mode: both;
    background-image: url('../../assets/images/home-slider/robot-body-eye.png');
    @include bg_center;
    z-index: 998;
  }
  &_light {
    opacity: 0;
    @include full_screen;
    animation-name: robot-light;
    animation-duration: 3s;
    animation-delay:2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    background-image: url('../../assets/images/home-slider/robot-body-light.png');
    @include bg_center;
  }
  &_logo {
    @include full_screen;
    animation-name: robot-logo;
    animation-duration: 0.7s;
    animation-delay:1.7s;
    animation-fill-mode: backwards;
    background-image: url('../../assets/images/home-slider/robot-body-logo.png');
    @include bg_center;
    z-index: 999;
  }
}
@keyframes robot-particle {
  0% {
    opacity: 0;
    filter: blur(0px) brightness(50%);
  }
  60% {
    opacity: 0.2;
    filter: blur(10px) brightness(100%);
  }
  100% {
    opacity: 0.3;
    filter: blur(20px) brightness(250%);
  }
}
@keyframes robot-mask {
  0% {
    background-color: rgba(0,0,0,0.7);
  }
  50% {
    background-color: rgba(0,0,0,0.3);
  }
  100% {
    background-color: rgba(0,0,0,0.0);
  }
}
@keyframes robot-bg {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
  100% {
    filter: hue-rotate(720deg);
  }
}
@keyframes robot-lens {
  0% {
    filter: brightness(250%);
    transform: scaleX(0);
  }
  50% {
    filter: brightness(100%);
    transform: scaleX(3);
  }
  100% {
    filter: brightness(0%);
    opacity: 0;
  }
}
@keyframes robot-light {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(250%);
  }
  100% {
    filter: brightness(100%);
  }
}

@keyframes robot-eye {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(500%);
  }
  100% {
    filter: brightness(100%);
  }
}
@keyframes robot-logo {
  0% {
    filter: grayscale(100%) brightness(70%);
  }
  50% {
    filter: grayscale(50%) brightness(300%);
  }
  100% {
    filter: grayscale(0%) brightness(100%);
  }
}




/*---slide2 bg---*/
.slide-inner--image {
  background-image: url('../../assets/images/home-slider/HUD-bg.jpg');
  .slide-inner--HUD-back {
    @include full_screen;
    background-image: url('../../assets/images/home-slider/HUD-back.png');
    background-size: cover;
    background-position: center;
    mix-blend-mode: lighten;
    animation-name: robot-bg;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    @keyframes HUD-back {
      0% {
        filter: hue-rotate(0deg) brightness(10%);
      }
      50% {
        filter: hue-rotate(360deg) brightness(550%);
      }
      100% {
        filter: hue-rotate(720deg) brightness(10%);
      }
    }
  }
  .slide-inner--HUD-bars {
    @include full_screen;
    opacity: 0;
    filter: brightness(500%);
    z-index:1;
    &_barA {
      @include full_screen;
      background-image: url('../../assets/images/home-slider/HUD-bars.png');
      background-size: cover;
      background-position: center;
      filter: drop-shadow(0 0 0.75rem #2272D2) brightness(250%);
      z-index: 999;
      animation-name:HUD-barsA;
      animation-duration: 2s;
      animation-fill-mode: both;
      animation-timing-function: ease-in;
      animation-iteration-count: infinite;
    }
    &_barB {
      @include full_screen;
      margin-top: 30px;
      background-image: url('../../assets/images/home-slider/HUD-bars.png');
      background-size: cover;
      background-position: center;
      filter: drop-shadow(0 0 0.75rem #2272D2) brightness(250%);
      z-index: 999;
      animation-name:HUD-barsB;
      animation-duration: 4s;
      animation-fill-mode: both;
      animation-timing-function: ease-in;
      animation-iteration-count: infinite;
    }
    &_barC {
      @include full_screen;
      margin-top: 60px;
      background-image: url('../../assets/images/home-slider/HUD-bars.png');
      background-size: cover;
      background-position: center;
      filter: drop-shadow(0 0 0.75rem #2272D2) brightness(250%);
      z-index: 999;
      animation-name:HUD-barsC;
      animation-duration: 1s;
      animation-fill-mode: both;
      animation-timing-function: ease-in;
      animation-iteration-count: infinite;
    }
  }
  .slide-inner--HUD-screen {
    position: absolute;
    background-image: url('../../assets/images/home-slider/HUD-screen.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation-name: robot-bg;
    animation-duration: 6s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }
}

.swiper-slide-active .slide-inner--HUD-bars {
  opacity: 1;
  filter: brightness(100%);
  transition: all 1s ease 1s;
}

@keyframes HUD-barsA{
  0% {
    transform: rotateX(20deg) rotateY(22deg) translateX(234px) translateY(-50px) scale(0.5,1); 
  }
  50% {
    transform: rotateX(20deg) rotateY(22deg) translateX(60px) translateY(-50px) scale(1,1);
  }
  100%{
    transform: rotateX(20deg) rotateY(22deg) translateX(234px) translateY(-50px) scale(0.5,1);
  }
}
@keyframes HUD-barsB{
  0% {
    transform: rotateX(19deg) rotateY(22deg) translateX(234px) translateY(-45px) scale(0.5,1); 
  }
  50% {
    transform: rotateX(19deg) rotateY(22deg) translateX(60px) translateY(-45px) scale(1,1); 
  }
  100%{
    transform: rotateX(19deg) rotateY(22deg) translateX(234px) translateY(-45px) scale(0.5,1);
  }
}
@keyframes HUD-barsC{
  0% {
    transform: rotateX(18deg) rotateY(22deg) translateX(234px) translateY(-40px) scale(0.5,1); 
  }
  50% {
    transform: rotateX(18deg) rotateY(22deg) translateX(60px) translateY(-40px) scale(1,1);
  }
  100%{
    transform: rotateX(18deg) rotateY(22deg) translateX(234px) translateY(-40px) scale(0.5,1);
  }
}
@media (max-width: 1440px) {
  @keyframes HUD-barsA{
    0% {
      transform: rotateX(22deg) rotateY(22deg) translateX(225px) translateY(-50px) scale(0.5,1); 
    }
    50% {
      transform: rotateX(22deg) rotateY(22deg) translateX(60px) translateY(-50px) scale(1,1);
    }
    100%{
      transform: rotateX(22deg) rotateY(22deg) translateX(225px) translateY(-50px) scale(0.5,1);
    }
  }
  @keyframes HUD-barsB{
    0% {
      transform: rotateX(21deg) rotateY(22deg) translateX(225px) translateY(-45px) scale(0.5,1); 
    }
    50% {
      transform: rotateX(21deg) rotateY(22deg) translateX(60px) translateY(-45px) scale(1,1); 
    }
    100%{
      transform: rotateX(21deg) rotateY(22deg) translateX(225px) translateY(-45px) scale(0.5,1);
    }
  }
  @keyframes HUD-barsC{
    0% {
      transform: rotateX(20deg) rotateY(22deg) translateX(225px) translateY(-40px) scale(0.5,1); 
    }
    50% {
      transform: rotateX(20deg) rotateY(22deg) translateX(60px) translateY(-40px) scale(1,1);
    }
    100%{
      transform: rotateX(20deg) rotateY(22deg) translateX(225px) translateY(-40px) scale(0.5,1);
    }
  }
}
@media (max-width: 1280px) {
  @keyframes HUD-barsA{
    0% {
      transform: rotateX(23deg) rotateY(22deg) translateX(207px) translateY(-50px) scale(0.5,1); 
    }
    50% {
      transform: rotateX(23deg) rotateY(22deg) translateX(60px) translateY(-50px) scale(1,1);
    }
    100%{
      transform: rotateX(23deg) rotateY(22deg) translateX(207px) translateY(-50px) scale(0.5,1);
    }
  }
  @keyframes HUD-barsB{
    0% {
      transform: rotateX(22deg) rotateY(22deg) translateX(207px) translateY(-45px) scale(0.5,1); 
    }
    50% {
      transform: rotateX(22deg) rotateY(22deg) translateX(60px) translateY(-45px) scale(1,1); 
    }
    100%{
      transform: rotateX(22deg) rotateY(22deg) translateX(207px) translateY(-45px) scale(0.5,1);
    }
  }
  @keyframes HUD-barsC{
    0% {
      transform: rotateX(21deg) rotateY(22deg) translateX(207px) translateY(-40px) scale(0.5,1); 
    }
    50% {
      transform: rotateX(21deg) rotateY(22deg) translateX(60px) translateY(-40px) scale(1,1);
    }
    100%{
      transform: rotateX(21deg) rotateY(22deg) translateX(207px) translateY(-40px) scale(0.5,1);
    }
  }
}
.slide-inner--HUD {
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: brightness(500%);
  .slide-inner--HUD-box {
    width: 100%;
    height: 100%;
    transform: translate(230px, -65px);
    @media (max-width: 1440px) {
      transform: translate(210px, -60px) scale(0.95);
    }
    @media (max-width: 1280px) {
      transform: translate(210px, -60px) scale(0.8);
    }
    &_hud_bg {
      @include full_screen;
      background-repeat: no-repeat;
      background-position: center center;
    }
    &_logo {
      @include full_screen;
      background-image: url('../../assets/images/home-slider/HUD-A.png');
      background-repeat: no-repeat;
      background-position: center center;
      transform:rotateX(10deg) rotateY(40deg) rotateZ(0deg) scale(0.4);
      filter: drop-shadow(0 0 0.75rem #2272D2) brightness(200%);
      z-index: 998;
      margin-left:0px;
    }
    &_c1 {
      @include full_screen;
      background-image: url('../../assets/images/home-slider/HUD-B.png');
      background-repeat: no-repeat;
      background-position: center center;
      animation-name: HUD-rotate-a;
      animation-duration: 5s;
      animation-delay: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease;
      opacity: 0;
      z-index: 1000;
      filter: drop-shadow(0 0 0.75rem #2272D2) brightness(150%);
    }
    &_c2 {
      @include full_screen;
      background-image: url('../../assets/images/home-slider/HUD-C.png');
      background-repeat: no-repeat;
      background-position: center center;
      animation-name: HUD-rotate-b;
      animation-duration: 8s;
      animation-delay: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      opacity: 0;
      filter: drop-shadow(0 0 0.75rem #2272D2) brightness(150%);
      z-index: 999;
    }
    &_c3 {
      @include full_screen;
      background-image: url('../../assets/images/home-slider/HUD-D.png');
      background-repeat: no-repeat;
      background-position: center center;
      animation-name: HUD-rotate-c;
      animation-duration: 7s;
      animation-delay: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      opacity: 0;
      filter: drop-shadow(0 0 0.75rem #2272D2) brightness(250%);
      z-index: 999;
      margin-left: 220px;
      margin-top: 80px;
      @media (max-width: 1920px) {
        margin-left: 250px;
      }
      @media (max-width: 1440px) {
        margin-top: 100px;
      }
      @media (max-width: 1280px) {
        margin-top: 120px;
      }
    }
    &_bar {
      @include full_screen;
      transform:rotateX(-28deg) rotateY(-25deg) rotateZ(-2.3deg) translate(380px,-60px) scale(0.25);
      filter: drop-shadow(0 0 3.75rem #2272D2) brightness(250%);
      @media (min-width: 1920px) {
        transform:rotateX(-28deg) rotateY(-25deg) rotateZ(-2.3deg) translate(480px,-60px) scale(0.25);
      }
      @media (max-width: 1440px) {
        transform:rotateX(-28deg) rotateY(-25deg) rotateZ(-2.3deg) translate(390px,-60px) scale(0.25);
      }
      @media (max-width: 1280px) {
        transform:rotateX(-28deg) rotateY(-25deg) rotateZ(-2.3deg) translate(390px,-70px) scale(0.25);
      }
      #up {
        #Fill-10 {
          opacity: 0;
          animation-name: fill-a;
          animation-duration: 2s;
          animation-delay :3.5s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          animation-fill-mode: forwards;  
        }
        #Fill-9 {
          opacity: 0;
          animation-name: fill-b;
          animation-duration: 2s;
          animation-delay :3s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          animation-fill-mode: forwards;  
        }
        #Fill-8 {
          opacity: 0;
          animation-name: fill-c;
          animation-duration: 2s;
          animation-delay :2.5s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          animation-fill-mode: forwards;  
        }
        #Fill-7 {
          opacity: 0;
          animation-name: fill-d;
          animation-duration: 2s;
          animation-delay :2s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          animation-fill-mode: forwards;  
        }
      }
      @keyframes fill-a {
        0% {opacity: 0;}
        25% {opacity: 1;}
      }
      @keyframes fill-b {
        0% {opacity: 0;}
        50% {opacity: 1;}
      }
      @keyframes fill-c {
        0% {opacity: 0;}
        75% {opacity: 1;}
      }
      @keyframes fill-d {
        0% {opacity: 0;}
        100% {opacity: 1;}
      }
    }
  }  
}
.swiper-slide-active .slide-inner--HUD {
  opacity: 1;
  filter: brightness(100%);
  transition: all 1s ease 1s;
}
.swiper-slide-active .slide-inner--HUD-box_c1 {
  opacity: 1;
  transition: all .5s ease 1.5s;
}
.swiper-slide-active .slide-inner--HUD-box_c2 {
  opacity: 1;
  transition: all .5s ease 2s;
}
.swiper-slide-active .slide-inner--HUD-box_c3 {
  opacity: 1;
  transition: all .5s ease 2s;
}

@keyframes HUD-rotate-a {
  0% {
    transform:rotateX(10deg) rotateY(40deg) rotateZ(0deg) scale(0.4);
  }
  70% {
    transform:rotateX(10deg) rotateY(40deg) rotateZ(360deg) scale(0.4);
  }
  100% {
    transform:rotateX(10deg) rotateY(40deg) rotateZ(0deg) scale(0.4);
  }
}

@keyframes HUD-rotate-b {
  0% {
    transform:rotateX(10deg) rotateY(40deg) rotateZ(0deg) scale(0.4);
  }
  100% {
    transform:rotateX(10deg) rotateY(40deg) rotateZ(-360deg) scale(0.4);
  }
}

@keyframes HUD-rotate-c {
  0% {
    transform:rotateX(10deg) rotateY(40deg) rotateZ(0deg)  scale(0.4);
  }
  100% {
    transform:rotateX(10deg) rotateY(40deg) rotateZ(-360deg)  scale(0.4);
  }
}