@mixin absolute_center {
  top:50%;
  left:50%;
  transform: translate(-50%,-50%) !important;
}
@mixin pic_center {
  position: absolute;
  bottom: 0px;
  left: 0px
}
@mixin full_screen {
  width: 100%;
  height: 100%;
  position: absolute;
}
@mixin bg_center {
  background-size: cover;
  background-position: center;
}
@mixin bg_contain {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
/*---logo fadeIn---*/
.ms-logo {
  animation-name: logofadeIn;
  animation-duration: 2s;
  animation-delay:3s !important;
  animation-fill-mode: both;
  opacity: 0;
}
@keyframes logofadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


/*---slide1 bg---*/
.slide-inner--item {
  width: 100%;
  height: 100%;
  &_particle {
    #particle_screen {
      position: absolute;
      z-index: 1;
      mix-blend-mode: lighten;
    }
  }
  &_particle_screen {
    @include full_screen;
    background-image: url('../../assets/images/home-slider/robot-particle.jpg');
    @include bg_center;
    z-index: 1000;
    mix-blend-mode: screen;
    animation-name: robot-particle;
    animation-duration: 3s;
    animation-fill-mode: both;
  }
  &_mask {
    @include full_screen;
    animation-name: robot-mask;
    animation-duration: 2s;
    animation-delay:1.5s;
    animation-fill-mode: both;
    z-index: 997;
  }
  &_screen {
    @include full_screen;
    background-image: url('../../assets/images/home-slider/robot-screen.png');
    @include bg_center;
    z-index:1002;
    opacity: 0;
    transform: scale(1.5);
  }
  &_bg {
    @include full_screen;
    background-image: url('../../assets/images/home-slider/robot-bg.png');
    animation-name: robot-bg;
    animation-duration: 5s;
    animation-delay:1.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    @include bg_center;
    z-index:1001;
    opacity: 0;
    transform: scale(1.5);
  }
  &_lens {
    @include full_screen;
    animation-name: robot-lens;
    animation-duration: 0.4s;
    animation-delay:1.2s;
    animation-fill-mode: both;
    background-image: url('../../assets/images/home-slider/robot-lens.png');
    @include bg_center;
    opacity: 0;
    z-index:1000;
  }
  &_body {
    @include full_screen;
    background-image: url('../../assets/images/home-slider/robot-body.jpg');
    @include bg_center;
  }
  &_eye {
    opacity: 0;
    @include full_screen;
    animation-name: robot-eye;
    animation-duration: 2s;
    animation-delay:0.8s;
    animation-fill-mode: both;
    background-image: url('../../assets/images/home-slider/robot-body-eye.png');
    @include bg_center;
    z-index: 998;
  }
  &_light {
    opacity: 0;
    @include full_screen;
    animation-name: robot-light;
    animation-duration: 3s;
    animation-delay:2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    background-image: url('../../assets/images/home-slider/robot-body-light.png');
    @include bg_center;
  }
  &_logo {
    @include full_screen;
    animation-name: robot-logo;
    animation-duration: 0.7s;
    animation-delay:1.7s;
    animation-fill-mode: backwards;
    background-image: url('../../assets/images/home-slider/robot-body-logo.png');
    @include bg_center;
    z-index: 999;
  }
}
@keyframes robot-particle {
  0% {
    opacity: 0;
    filter: blur(0px) brightness(50%);
  }
  60% {
    opacity: 0.2;
    filter: blur(10px) brightness(100%);
  }
  100% {
    opacity: 0.3;
    filter: blur(20px) brightness(250%);
  }
}
@keyframes robot-mask {
  0% {
    background-color: rgba(0,0,0,0.7);
  }
  50% {
    background-color: rgba(0,0,0,0.3);
  }
  100% {
    background-color: rgba(0,0,0,0.0);
  }
}
@keyframes robot-bg {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
  100% {
    filter: hue-rotate(720deg);
  }
}
@keyframes robot-lens {
  0% {
    filter: brightness(250%);
    transform: scaleX(0);
  }
  50% {
    filter: brightness(100%);
    transform: scaleX(3);
  }
  100% {
    filter: brightness(0%);
    opacity: 0;
  }
}
@keyframes robot-light {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(250%);
  }
  100% {
    filter: brightness(100%);
  }
}

@keyframes robot-eye {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(500%);
  }
  100% {
    filter: brightness(100%);
  }
}
@keyframes robot-logo {
  0% {
    filter: grayscale(100%) brightness(70%);
  }
  50% {
    filter: grayscale(50%) brightness(300%);
  }
  100% {
    filter: grayscale(0%) brightness(100%);
  }
}


/*---slide2 bg---*/
.slide-inner--section2 {
  @include full_screen;
  background-image: url('../../assets/images/home-slider/HUD-bg.jpg');
  @include bg_center;
  opacity: 0;
  @keyframes section2 {
    0% {
      transform: translateX(0) scale(1.5);
      filter: blur(10px) brightness(20%);
    }
    20% {
      transform: translateX(200px) scale(1.3);
      filter: blur(10px) brightness(20%);
    }
    60% {
      transform: translateX(-300px) scale(1.4);
      filter: blur(3px) brightness(20%);
    }
    90% {
      transform: translateX(150px) scale(1.5);
      filter: blur(2px) brightness(50%);
    }
    100% {
      transform: translateX(0px) scale(1);
      filter: blur(0px) brightness(100%);
    }
  }
}
.slide-inner--center {
  @include full_screen;
  opacity: 0;
  @keyframes center {
    0% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
  }
  &_bg {
    @include full_screen;
    background-image: url('../../assets/images/home-slider/HUD-center_bg.png');
    @include bg_contain;
    opacity: 0;
  }
  &_center {
    @include full_screen;
    background-image: url('../../assets/images/home-slider/HUD-center.png');
    @include bg_center;
    animation-name:center_center;
    animation-duration: 13s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    opacity: 0;
    filter: drop-shadow(0 0 0.75rem #2E58A6) brightness(300%);
    z-index: 999;
    @keyframes center_center {
      0% { transform: rotate(0deg); }
      50% { transform: rotate(360deg); }
      80% { transform: rotate(520deg); }
      100% { transform: rotate(0deg); }
    }
  }
  &_center-out {
    @include full_screen;
    background-image: url('../../assets/images/home-slider/HUD-center_out.png');
    @include bg_center;
    animation-name:center-out;
    animation-duration: 10s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    opacity: 0;
    filter: drop-shadow(0 0 0.75rem #2272D2) brightness(200%);
    @keyframes center-out {
      0% { transform: rotate(0deg); }
      50% { transform: rotate(360deg); }
      100% { transform: rotate(0deg); }
    }
  }
  &_left-circle {
    @include full_screen;
    background-image: url('../../assets/images/home-slider/HUD-center_left-circle.png');
    @include bg_center;
    opacity: 0; 
    transform: scaleY(0);
  }
  &_right-circle {
    @include full_screen;
    background-image: url('../../assets/images/home-slider/HUD-center_right-circle.png');
    @include bg_center;
    opacity: 0; 
    transform: scaleY(0);
  }
  &_left-arrow{
    @include full_screen;
    background-image: url('../../assets/images/home-slider/HUD-center_left-arrow.png');
    @include bg_contain;
  }
  &_right-arrow {
    @include full_screen;
    background-image: url('../../assets/images/home-slider/HUD-center_right-arrow.png');
    @include bg_contain;
  }
}
.slide-inner--HUD {
  @include full_screen;
  background-image: url('../../assets/images/home-slider/HUD-screen.png');
  @include bg_center;
  opacity: 0;
  mix-blend-mode: lighten;
  background-blend-mode: screen;
  filter: brightness(1000%); 
}
.swiper-slide-active .slide-inner--HUD {
  opacity: 0.7;
  transition-property:opacity,filter;
  transition-duration: 1.5s;
  transition-delay: 6.5s;
  transition-timing-function: ease;
  mix-blend-mode: lighten;
  background-blend-mode: screen;
  filter: brightness(100%); 
}
.swiper-slide-active .slide-inner--center {
  animation-name: center;
  animation-duration: 6.5s;
  animation-fill-mode: both;
  opacity: 1;
}
.swiper-slide-active .slide-inner--section2 {
  opacity: 1;
  transition: all 1s ease 1.5s;
  animation-name: section2;
  animation-duration: 4.5s;
  animation-delay: 2s;
  animation-fill-mode: both;
  animation-timing-function: ease;
}
.swiper-slide-active .slide-inner--center_bg {
  opacity: 1;
  transition: all 1s ease 1s;
}
.swiper-slide-active .slide-inner--center_center {
  opacity: 1;
  transition: all 1s ease 1.5s;
}
.swiper-slide-active .slide-inner--center_center-out {
  opacity: 1;
  transition: all 1s ease 2s;
}
.swiper-slide-active .slide-inner--center_left-circle {
  opacity: 1;
  transition: all .5s ease 1.5s;
  transform: scaleY(1);
}
.swiper-slide-active .slide-inner--center_right-circle {
  opacity: 1;
  transition: all .5s ease 1.5s;
  transform: scaleY(1);
}
.swiper-slide-active .slide-inner--center_left-arrow {
  opacity: 1;
  transform: opacity .5s ease;
  animation-name: left-circle;
  animation-duration: 4.5s;
  animation-delay: 2s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
  @keyframes left-circle {
    10% {
      filter:drop-shadow(0 0 0.75rem #C51E46) brightness(300%);
    }
    30% {
      filter:drop-shadow(0 0 0.75rem #C51E46) brightness(50%);
    }
    60% {
      filter:drop-shadow(0 0 0.75rem #C51E46) brightness(300%);
    }
    70% {
      filter:drop-shadow(0 0 0.75rem #C51E46) brightness(300%);
    }
    100% {
      filter:drop-shadow(0 0 0.75rem #C51E46) brightness(50%);
    }
  }
}
.swiper-slide-active .slide-inner--center_right-arrow {
  opacity: 1;
  transform: opacity .5s ease ;
  animation-name: right-circle;
  animation-duration: 4.5s;
  animation-delay: 2s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  @keyframes right-circle {
    10% {
      filter:drop-shadow(0 0 0.75rem #C51E46) brightness(50%);
    }
    30% {
      filter:drop-shadow(0 0 0.75rem #C51E46) brightness(300%);
    }
    60% {
      filter:drop-shadow(0 0 0.75rem #C51E46) brightness(50%);
    }
    70% {
      filter:drop-shadow(0 0 0.75rem #C51E46) brightness(50%);
    }
    100% {
      filter:drop-shadow(0 0 0.75rem #C51E46) brightness(300%);
    }
  }
}
