@mixin absolute_center {
  top:50%;
  left:50%;
  transform: translate(-50%,-50%) !important;
}
@mixin pic_center {
  position: absolute;
  bottom: 0px;
  left: 0px
}
@mixin full_screen {
  width: 100%;
  height: 100%;
  position: absolute;
}
@mixin bg_center {
  background-size: cover;
  background-position: center;
}


.nav-target_a::after {
  content: url(https://guitarkid35.github.io/2018-GK-resume/);
}

/*---slide1 bg---*/
.slide-inner--item {
  width: 100%;
  height: 100%;
  &_particle {
    #particles {
      position: absolute;
      z-index: 996;
    }
  }
  &_mask {
    @include full_screen;
    animation-name: robot-mask;
    animation-duration: 2s;
    animation-delay:1.5s;
    animation-fill-mode: both;
    z-index: 997;
  }
  &_screen {
    @include full_screen;
    background-image: url('../../assets/images/home-slider/robot-screen.png');
    @include bg_center;
    z-index:1002;
    opacity: 0;
    transform: scale(1.5);
  }
  &_bg {
    @include full_screen;
    background-image: url('../../assets/images/home-slider/robot-bg.png');
    animation-name: robot-bg;
    animation-duration: 5s;
    animation-delay:1.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    @include bg_center;
    z-index:1001;
    opacity: 0;
    transform: scale(1.5);
  }
  &_lens {
    @include full_screen;
    animation-name: robot-lens;
    animation-duration: 0.4s;
    animation-delay:1.2s;
    animation-fill-mode: both;
    background-image: url('../../assets/images/home-slider/robot-lens.png');
    @include bg_center;
    opacity: 0;
    z-index:1000;
  }
  &_body {
    @include full_screen;
    background-image: url('../../assets/images/home-slider/robot-body.jpg');
    @include bg_center;
  }
  &_eye {
    opacity: 0;
    @include full_screen;
    animation-name: robot-eye;
    animation-duration: 2s;
    animation-delay:0.8s;
    animation-fill-mode: both;
    background-image: url('../../assets/images/home-slider/robot-body-eye.png');
    @include bg_center;
    z-index: 998;
  }
  &_light {
    opacity: 0;
    @include full_screen;
    animation-name: robot-light;
    animation-duration: 3s;
    animation-delay:2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    background-image: url('../../assets/images/home-slider/robot-body-light.png');
    @include bg_center;
  }
  &_logo {
    @include full_screen;
    animation-name: robot-logo;
    animation-duration: 0.7s;
    animation-delay:1.7s;
    animation-fill-mode: backwards;
    background-image: url('../../assets/images/home-slider/robot-body-logo.png');
    @include bg_center;
    z-index: 999;
  }
}
@keyframes robot-mask {
  0% {
    background-color: rgba(0,0,0,0.7);
  }
  50% {
    background-color: rgba(0,0,0,0.3);
  }
  100% {
    background-color: rgba(0,0,0,0.0);
  }
}
@keyframes robot-bg {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}
@keyframes robot-lens {
  0% {
    filter: brightness(250%);
    transform: scaleX(0);
  }
  50% {
    filter: brightness(100%);
    transform: scaleX(3);
  }
  100% {
    filter: brightness(0%);
    opacity: 0;
  }
}
@keyframes robot-light {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(250%);
  }
  100% {
    filter: brightness(100%);
  }
}

@keyframes robot-eye {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(500%);
  }
  100% {
    filter: brightness(100%);
  }
}
@keyframes robot-logo {
  0% {
    filter: grayscale(100%) brightness(70%);
  }
  50% {
    filter: grayscale(50%) brightness(300%);
  }
  100% {
    filter: grayscale(0%) brightness(100%);
  }
}
/*---slide2 bg---*/
.slide-inner--image {
  background-image: url('../../assets/images/home-slider/HUD-bg.jpg');
  .slide-inner--HUD-screen {
    position: absolute;
    background-image: url('../../assets/images/home-slider/HUD-screen.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation-name: robot-bg;
    animation-duration: 6s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }
}
.slide-inner--HUD {
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: brightness(500%);
  .slide-inner--HUD-box {
    width: 100%;
    height: 100%;
    transform: translate(-310px, -100px);
    &_hud_bg {
      @include full_screen;
      background-repeat: no-repeat;
      background-position: center center;
    }
    &_logo {
      @include full_screen;
      background-image: url('../../assets/images/home-slider/HUD-A.png');
      background-repeat: no-repeat;
      background-position: center center;
      transform:rotateX(10deg) rotateY(40deg) rotateZ(0deg) scale(0.4);
      filter: drop-shadow(0 0 0.75rem #2272D2) brightness(200%);
      z-index: 998;
    }
    &_c1 {
      @include full_screen;
      background-image: url('../../assets/images/home-slider/HUD-B.png');
      background-repeat: no-repeat;
      background-position: center center;
      animation-name: HUD-rotate-a;
      animation-duration: 5s;
      animation-delay: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease;
      opacity: 0;
      z-index: 1000;
      filter: drop-shadow(0 0 0.75rem #2272D2) brightness(150%);
    }
    &_c2 {
      @include full_screen;
      background-image: url('../../assets/images/home-slider/HUD-C.png');
      background-repeat: no-repeat;
      background-position: center center;
      animation-name: HUD-rotate-b;
      animation-duration: 8s;
      animation-delay: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      opacity: 0;
      filter: drop-shadow(0 0 0.75rem #2272D2) brightness(150%);
      z-index: 999;
    }
    &_bar {
      @include full_screen;
      transform:rotateX(-28deg) rotateY(-25deg) rotateZ(-2.3deg) translate(380px,-80px) scale(0.25);
      filter: drop-shadow(0 0 0.75rem #2272D2) brightness(150%);
      #up {
        #Fill-10 {
          opacity: 0;
          animation-name: fill-a;
          animation-duration: 2s;
          animation-delay :3.5s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          animation-fill-mode: forwards;  
        }
        #Fill-9 {
          opacity: 0;
          animation-name: fill-b;
          animation-duration: 2s;
          animation-delay :3s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          animation-fill-mode: forwards;  
        }
        #Fill-8 {
          opacity: 0;
          animation-name: fill-c;
          animation-duration: 2s;
          animation-delay :2.5s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          animation-fill-mode: forwards;  
        }
        #Fill-7 {
          opacity: 0;
          animation-name: fill-d;
          animation-duration: 2s;
          animation-delay :2s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          animation-fill-mode: forwards;  
        }
      }
      @keyframes fill-a {
        0% {opacity: 0;}
        25% {opacity: 1;}
      }
      @keyframes fill-b {
        0% {opacity: 0;}
        50% {opacity: 1;}
      }
      @keyframes fill-c {
        0% {opacity: 0;}
        75% {opacity: 1;}
      }
      @keyframes fill-d {
        0% {opacity: 0;}
        100% {opacity: 1;}
      }
    }
  }  
}
.swiper-slide-active .slide-inner--HUD {
  opacity: 1;
  filter: brightness(100%);
  transition: all 1s ease 1s;
}
.swiper-slide-active .slide-inner--HUD-box_c1 {
  opacity: 1;
  transition: all .5s ease 1.5s;
}
.swiper-slide-active .slide-inner--HUD-box_c2 {
  opacity: 1;
  transition: all .5s ease 2s;
}


@keyframes HUD-rotate-a {
  0% {
    transform:rotateX(10deg) rotateY(40deg) rotateZ(0deg) scale(0.4);
  }
  70% {
    transform:rotateX(10deg) rotateY(40deg) rotateZ(360deg) scale(0.4);
  }
  100% {
    transform:rotateX(10deg) rotateY(40deg) rotateZ(0deg) scale(0.4);
  }
}

@keyframes HUD-rotate-b {
  0% {
    transform:rotateX(10deg) rotateY(40deg) rotateZ(0deg) scale(0.4);
  }
  100% {
    transform:rotateX(10deg) rotateY(40deg) rotateZ(-360deg) scale(0.4);
  }
}