html
  head
    title Aorus
    //- Metadata
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- Favicon
    link(rel='icon', type='image/png', href='assets/images/ico/favicon.png')
    //- CSS Plugins
    link(rel='stylesheet', href='assets/css/plugins.min.css')
    //- Custom CSS File
    link(rel='stylesheet', href='assets/css/style.css')
    link(rel='stylesheet', href='assets/css/main.css')
  body
    .ms-main-container
      //- Preloader
      .ms-preloader
      //- Header
      header.ms-header.navbar-white
        nav.ms-nav
          .ms-logo
            a(href='index.html', data-type='page-transition')
              .logo-dark
                img(src='logo-dark.svg', alt='logo image')
              .logo-light.current
                img(src='logo-light.svg', alt='logo image')
          button.hamburger(type='button', data-toggle='navigation')
            span.hamburger-box
              span.hamburger-label menu
              span.hamburger-inner
          .height-full-viewport
            ul.ms-navbar
              //- Nav Link
              li.nav-item
                a(href='index.html', data-type='page-transition')
                  span.ms-btn home
                  span.nav-item__label Back to home page
              li.nav-item.nav-target_a
                a(href='https://guitarkid35.github.io/2018-GK-resume/',target='_blank')
                  span.ms-btn about
                  span.nav-item__label Learn more about the GK
      //- Container
      main.ms-container.home-slider
        //- Swiper Slider
        .swiper-container
          .swiper-wrapper
            //- Slide
            .swiper-slide
              .slide-inner(data-swiper-parallax='45%')
                .overlay
                .slide-inner--item
                  .slide-inner--item_particle
                    video#particle_screen(src='../assets/video/particle_screen.mp4', autoplay='', loop='',type='video/mp4;')
                  .slide-inner--item_mask
                  .slide-inner--item_screen
                  .slide-inner--item_bg
                  .slide-inner--item_lens
                  .slide-inner--item_body
                  .slide-inner--item_eye
                  .slide-inner--item_light
                  .slide-inner--item_logo
            //- Slide
            .swiper-slide
              .slide-inner(data-swiper-parallax='45%')
                .overlay
                .slide-inner--image
                  .slide-inner--HUD-screen
                  .slide-inner--HUD
                    .slide-inner--HUD-box
                      .slide-inner--HUD-box_logo
                      .slide-inner--HUD-box_c1
                      .slide-inner--HUD-box_c2
                      svg.slide-inner--HUD-box_bar(width='127px', height='810px', viewBox='0 0 127 810', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                        g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                          g#Desktop-HD(transform='translate(-1875.000000, -568.000000)')
                            g#HUD-bar(transform='translate(1875.000000, 568.000000)')
                              path#Combined-Shape(d='M54,560 L54,501.472374 L111,444 L111,502.527626 L54,560 Z M53.9391368,364.004253 L49,359.44959 L111,297 L111,355.525362 L53.9391368,413 L53.9391368,364.004253 Z M54,486 L54,427.472374 L111,370 L111,428.527626 L54,486 Z M54,635 L54,576.472374 L111,519 L111,577.523058 L54,635 Z M54,708 L54,649.474638 L111,592 L111,650.525362 L54,708 Z M54,722.687645 L111,666 L111,727.342151 L54,790 L54,722.687645 Z M82.7855557,0 L127,0 L127,735.151893 L59.0026139,810 L38.6484174,810 L38.6484174,370.599129 L0,335.349049 L0,82.4524863 L82.7855557,0 Z M44.0098109,368.253049 L44.0098109,804.664706 L56.6288671,804.664706 L121.643154,733.091147 L121.643154,5.33076497 L85.009238,5.33076497 L5.35684618,84.6672221 L5.35684618,333.002969 L44.0098109,368.253049 Z', fill='#4A90E2')
                              g#up(transform='translate(15.000000, 16.000000)', fill='#B9D1EE')
                                polygon#Fill-10(points='96 43.6605173 96 0 73.7771453 0 0 73.2695299 0 139')
                                polygon#Fill-9(points='0 213 96 117.836013 96 60 0 155.163987')
                                polygon#Fill-8(points='0 287 96 191.836013 96 134 0 229.163987')  
                                polygon#Fill-7(points='0 312.792205 25.3422513 336 96 265.34283 96 207 0 303.005401')                     

                .slide-inner--info
                  h1
                    | world's 1st
                    br
                    | tactical monitor
                  a.ms-btn--slider(href='https://www.aorus.com/AD27QD', target='_blank') take a look
            //- //- Slide
            //- .swiper-slide
            //-   .slide-inner(data-swiper-parallax='45%')
            //-     .overlay
            //-     .slide-inner--image(style="background-image: url('assets/images/home-slider/img-lg.jpg')")
            //-     .slide-inner--info
            //-       h1
            //-         | romantic
            //-         br
            //-         | chipping
            //-       a.ms-btn--slider(href='gallery.html', data-type='page-transition') take a look
            //- //- Slide
            //- .swiper-slide
            //-   .slide-inner(data-swiper-parallax='45%')
            //-     .overlay
            //-     .slide-inner--image(style="background-image: url('assets/images/home-slider/img-lg.jpg')")
            //-     .slide-inner--info
            //-       h1
            //-         | farthest
            //-         br
            //-         | dawning
            //-       a.ms-btn--slider(href='gallery.html', data-type='page-transition') take a look
          .swiper-nav-btn
            .swiper-button-prev.swiper-button-white prev
            .swiper-button-next.swiper-button-white next
          //- Pagination
          .expanded-timeline
            .expanded-timeline__counter
              span
              span
            .swiper-pagination
            .scroll-message
              svg.scroll-svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 16.5 15.98')
                title Asset 1
                g
                  g(data-name='Layer 1')
                    polygon(fill='#fff', points='0 4.64 0.71 5.34 3.85 2.2 3.85 15.98 4.85 15.98 4.85 2.2 8 5.34 8.71 4.64 4.35 0.29 0 4.64')
                    polygon(fill='#fff', points='11.65 0 11.65 13.79 8.5 10.64 7.79 11.35 12.15 15.7 16.5 11.35 15.79 10.64 12.65 13.79 12.65 0 11.65 0')
              | Scroll
      //- /Container
      //- JS Libraries
      //- jquery-2.1.3.min js
      script(type='text/javascript', src='assets/js/jquery-3.2.1.min.js')
      //- Vendors
      script(type='text/javascript', src='assets/js/plugins.min.js')
      //- Main js
      script(type='text/javascript', src='assets/js/main.js')
      //- timeline js
      script(type='text/javascript', src='assets/js/TimelineMax.min.js')
      script(type='text/javascript', src='assets/js/TweenMax.min.js')
      //- custom js
      script(type='text/javascript', src='assets/js/custom-dist.js')