html
  head
    title Aorus
    //- Metadata
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- Favicon
    link(rel='icon', type='image/png', href='assets/images/ico/favicon.png')
    //- CSS Plugins
    link(rel='stylesheet', href='assets/css/plugins.min.css')
    //- Custom CSS File
    link(rel='stylesheet', href='assets/css/style-dist.css')
    link(rel='stylesheet', href='assets/css/main.min.css')
  body
    .ms-main-container
      //- Preloader
      .ms-preloader
      //- Header
      header.ms-header.navbar-white
        nav.ms-nav
          .ms-logo
            a(href='index.html', data-type='page-transition')
              .logo-dark
                img(src='logo-dark.svg', alt='logo image')
              .logo-light.current
                img(src='logo-light.svg', alt='logo image')
          button.hamburger(type='button', data-toggle='navigation')
            span.hamburger-box
              span.hamburger-label menu
              span.hamburger-inner
          .height-full-viewport
            ul.ms-navbar
              //- Nav Link
              li.nav-item
                a(href='index.html', data-type='page-transition')
                  span.ms-btn home
                  span.nav-item__label Back to home page
              li.nav-item.nav-target_a
                a(href='https://guitarkid35.github.io/2018-GK-resume/',target='_blank')
                  span.ms-btn about
                  span.nav-item__label Learn more about the GK
      //- Container
      main.ms-container.home-slider
        //- Swiper Slider
        .swiper-container
          .swiper-wrapper
            //- Slide
            .swiper-slide
              .slide-inner(data-swiper-parallax='45%')
                .overlay
                .slide-inner--item
                  .slide-inner--item_particle_screen
                  .slide-inner--item_particle
                    video#particle_screen(controls='', autoplay='', muted='', loop='')
                      //- source(src='../assets/video/particle_screen.webm', type='video/webm')
                      source(src='../assets/video/particle_screen.mp4', type='video/mp4')
                  .slide-inner--item_mask
                  .slide-inner--item_screen
                  .slide-inner--item_bg
                  .slide-inner--item_lens
                  .slide-inner--item_body
                  .slide-inner--item_eye
                  .slide-inner--item_light
                  .slide-inner--item_logo
            //- Slide
            .swiper-slide
              .slide-inner(data-swiper-parallax='45%')
                .overlay
                .slide-inner--section2
                .slide-inner--image
                  .slide-inner--center
                    .slide-inner--center_bg
                    .slide-inner--center_center
                    .slide-inner--center_center-out
                    .slide-inner--center_left-circle
                    .slide-inner--center_right-circle
                    .slide-inner--center_left-arrow
                    .slide-inner--center_right-arrow
                  .slide-inner--HUD

                .slide-inner--info
                  h1
                    | world's 1st
                    br
                    | tactical monitor
                  a.ms-btn--slider(href='https://www.aorus.com/AD27QD', target='_blank') take a look
            //- //- Slide
            //- .swiper-slide
            //-   .slide-inner(data-swiper-parallax='45%')
            //-     .overlay
            //-     .slide-inner--image(style="background-image: url('assets/images/home-slider/img-lg.jpg')")
            //-     .slide-inner--info
            //-       h1
            //-         | romantic
            //-         br
            //-         | chipping
            //-       a.ms-btn--slider(href='gallery.html', data-type='page-transition') take a look
          .swiper-nav-btn
            .swiper-button-prev.swiper-button-white prev
            .swiper-button-next.swiper-button-white next
          //- Pagination
          .expanded-timeline
            .expanded-timeline__counter
              span
              span
            .swiper-pagination
            .scroll-message
              svg.scroll-svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 16.5 15.98')
                title Asset 1
                g
                  g(data-name='Layer 1')
                    polygon(fill='#fff', points='0 4.64 0.71 5.34 3.85 2.2 3.85 15.98 4.85 15.98 4.85 2.2 8 5.34 8.71 4.64 4.35 0.29 0 4.64')
                    polygon(fill='#fff', points='11.65 0 11.65 13.79 8.5 10.64 7.79 11.35 12.15 15.7 16.5 11.35 15.79 10.64 12.65 13.79 12.65 0 11.65 0')
              | Scroll
      //- /Container
      //- JS Libraries
      //- jquery-2.1.3.min js
      script(type='text/javascript', src='assets/js/jquery-3.2.1.min.js')
      //- preload
      script(type='text/javascript', src='assets/js/vendors/preload-dist.js')
      //- Vendors
      script(type='text/javascript', src='assets/js/plugins.min.js')
      //- Main js
      script(type='text/javascript', src='assets/js/main-dist.js')
      //- timeline js
      script(type='text/javascript', src='assets/js/TimelineMax.min.js')
      script(type='text/javascript', src='assets/js/TweenMax.min.js')
      //- custom js
      script(type='text/javascript', src='assets/js/custom-dist.js')